@{
    ViewBag.Title = "Dashboard";
}
<style>
    .main_content .main_content_iner {
        min-height:8vh;
    }
    
</style>
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <!-- page title  -->
        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex align-items-center justify-content-between">
                    <div class="page_title_left">
                        <h3 class="f_s_30 f_w_700 text_white">Dashboard</h3>
                        <ol class="breadcrumb page_bradcam mb-0">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Salessa </a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item active">Sales</li>
                        </ol>
                    </div>
                    <a href="#" style="display:none" class="white_btn3">Create Report</a>
                </div>
            </div>
        </div>
        <div class="row ">
            @*<div class="col-lg-8 card_height_100">
                    <div class="white_card mb_20">
                        <div class="white_card_header">
                            <div class="box_header m-0">
                                <div class="main-title">
                                    <h3 class="m-0">Revenue</h3>
                                </div>
                                <div class="float-lg-right float-none sales_renew_btns justify-content-end">
                                    <ul class="nav">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#">This Week</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Last Week</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Last Month</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="white_card_body" style="height: 286px;">
                            <canvas id="bar"></canvas>
                        </div>
                    </div>

                </div>*@
            <div class="col-lg-4 card_height_100 mb_20">
                <div class="white_card">
                    <div class="white_card_header">
                        <div class="box_header m-0">
                            <div class="main-title">
                                <h3 class="m-0">Total Sales Unit</h3>
                            </div>
                            <div class="header_more_tool">
                                <div class="dropdown">
                                    <span class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown">
                                        <i class="ti-more-alt"></i>
                                    </span>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#"> <i class="ti-eye"></i> Action</a>
                                        <a class="dropdown-item" href="#"> <i class="ti-trash"></i> Delete</a>
                                        <a class="dropdown-item" href="#"> <i class="fas fa-edit"></i> Edit</a>
                                        <a class="dropdown-item" href="#"> <i class="ti-printer"></i> Print</a>
                                        <a class="dropdown-item" href="#"> <i class="fa fa-download"></i> Download</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="white_card_body p-0">
                        <div class="card_container">
                            <div id="platform_type_dates_donut" style="height:280px"></div>
                        </div>
                    </div>
                </div>
                <div style="display:none !important;" class="sales_unit_footer d-flex justify-content-between">
                    <div class="single_sales">
                        <p>This Month Revenue</p>
                        <h3>$57k</h3>
                        <p class="d-flex align-items-center"> <i class="ti-arrow-up"></i> <span>  14.5%</span> Up From Last Month </p>
                    </div>
                    <div class="single_sales disable_sales">
                        <p>This Month Revenue</p>
                        <h3>$14k</h3>
                        <p class="d-flex align-items-center"> <i class="ti-arrow-up"></i> <span>  14.5%</span> Up From Last Month </p>
                    </div>
                </div>
            </div>




            <!--<div class="col-lg-6">
                <div class="white_card card_height_100 mb_30 ">
                    <div class="white_card_header">
                        <div class="box_header m-0">
                            <div class="main-title">
                                <h3 class="m-0">Monthly Invoices</h3>
                            </div>
                            <div class="header_more_tool">
                                <div class="dropdown">
                                    <span class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown">
                                        <i class="ti-more-alt"></i>
                                    </span>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#"> <i class="ti-eye"></i> Action</a>
                                        <a class="dropdown-item" href="#"> <i class="ti-trash"></i> Delete</a>
                                        <a class="dropdown-item" href="#"> <i class="fas fa-edit"></i> Edit</a>
                                        <a class="dropdown-item" href="#"> <i class="ti-printer"></i> Print</a>
                                        <a class="dropdown-item" href="#"> <i class="fa fa-download"></i> Download</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="white_card_body QA_section">
                        <div class="QA_table ">-->
            <!-- table-responsive -->
            <!--<table class="table lms_table_active2 p-0">
                                <thead>
                                    <tr>
                                        <th scope="col">Customer</th>
                                        <th scope="col">Product</th>
                                        <th scope="col">Invoice</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="customer d-flex align-items-center">
                                                <div class="thumb_34 mr_15 mt-0"><img class="img-fluid radius_50" src="~/TemplateContent/img/customers/1.png" alt=""></div>
                                                <span class="f_s_14 f_w_400 color_text_1">Customer</span>
                                            </div>

                                        </td>
                                        <td class="f_s_14 f_w_400 color_text_2">Sunglass</td>
                                        <td class="f_s_14 f_w_400 color_text_3">#DE2548</td>
                                        <td class="f_s_14 f_w_400 color_text_4">$350</td>
                                        <td class="f_s_14 f_w_400 text-end"><a href="#" class="badge_btn_1">Pending</a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="customer d-flex align-items-center">
                                                <div class="thumb_34 mr_15 mt-0"><img class="img-fluid radius_50" src="~/TemplateContent/img/customers/2.png" alt=""></div>
                                                <span class="f_s_14 f_w_400 color_text_1">Customer</span>
                                            </div>

                                        </td>
                                        <td class="f_s_14 f_w_400 color_text_2">Sunglass</td>
                                        <td class="f_s_14 f_w_400 color_text_3">#DE2548</td>
                                        <td class="f_s_14 f_w_400 color_text_4">$350</td>
                                        <td class="f_s_14 f_w_400 text-end"><a href="#" class="badge_btn_2">Paid</a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="customer d-flex align-items-center">
                                                <div class="thumb_34 mr_15 mt-0"><img class="img-fluid radius_50" src="~/TemplateContent/img/customers/3.png" alt=""></div>
                                                <span class="f_s_14 f_w_400 color_text_1">Customer</span>
                                            </div>

                                        </td>
                                        <td class="f_s_14 f_w_400 color_text_2">Sunglass</td>
                                        <td class="f_s_14 f_w_400 color_text_3">#DE2548</td>
                                        <td class="f_s_14 f_w_400 color_text_4">$350</td>
                                        <td class="f_s_14 f_w_400 text-end"><a href="#" class="badge_btn_3">Shipped</a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="customer d-flex align-items-center">
                                                <div class="thumb_34 mr_15 mt-0"><img class="img-fluid radius_50" src="~/TemplateContent/img/customers/4.png" alt=""></div>
                                                <span class="f_s_14 f_w_400 color_text_1">Customer</span>
                                            </div>

                                        </td>
                                        <td class="f_s_14 f_w_400 color_text_2">Sunglass</td>
                                        <td class="f_s_14 f_w_400 color_text_3">#DE2548</td>
                                        <td class="f_s_14 f_w_400 color_text_4">$350</td>
                                        <td class="f_s_14 f_w_400 text-end"><a href="#" class="badge_btn_3">Shipped</a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="customer d-flex align-items-center">
                                                <div class="thumb_34 mr_15 mt-0"><img class="img-fluid radius_50" src="~/TemplateContent/img/customers/5.png" alt=""></div>
                                                <span class="f_s_14 f_w_400 color_text_1">Customer</span>
                                            </div>

                                        </td>
                                        <td class="f_s_14 f_w_400 color_text_2">Sunglass</td>
                                        <td class="f_s_14 f_w_400 color_text_3">#DE2548</td>
                                        <td class="f_s_14 f_w_400 color_text_4">$350</td>
                                        <td class="f_s_14 f_w_400 text-end"><a href="#" class="badge_btn_2">Paid</a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="customer d-flex align-items-center">
                                                <div class="thumb_34 mr_15 mt-0"><img class="img-fluid radius_50" src="~/TemplateContent/img/customers/6.png" alt=""></div>
                                                <span class="f_s_14 f_w_400 color_text_1">Customer</span>
                                            </div>

                                        </td>
                                        <td class="f_s_14 f_w_400 color_text_2">Sunglass</td>
                                        <td class="f_s_14 f_w_400 color_text_3">#DE2548</td>
                                        <td class="f_s_14 f_w_400 color_text_4">$350</td>
                                        <td class="f_s_14 f_w_400 text-end"><a href="#" class="badge_btn_4 ">Delivered</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="white_card card_height_100 mb_20 ">
                    <div class="white_card_header">
                        <div class="box_header m-0">
                            <div class="main-title">
                                <h3 class="m-0">Top Selling Product</h3>
                            </div>
                            <div class="header_more_tool">
                                <div class="dropdown">
                                    <span class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown">
                                        <i class="ti-more-alt"></i>
                                    </span>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#"> <i class="ti-eye"></i> Action</a>
                                        <a class="dropdown-item" href="#"> <i class="ti-trash"></i> Delete</a>
                                        <a class="dropdown-item" href="#"> <i class="fas fa-edit"></i> Edit</a>
                                        <a class="dropdown-item" href="#"> <i class="ti-printer"></i> Print</a>
                                        <a class="dropdown-item" href="#"> <i class="fa fa-download"></i> Download</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="white_card_body QA_section">
                        <div class="QA_table ">-->
            <!-- table-responsive -->
            <!--<table class="table lms_table_active2 p-0">
                                <thead>
                                    <tr>
                                        <th scope="col">Product 1</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Discount</th>
                                        <th scope="col">Sold</th>
                                        <th scope="col">Source</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="customer d-flex align-items-center">
                                                <div class="thumb_34 mr_15 mt-0"><img class="img-fluid radius_50" src="~/TemplateContent/img/customers/pro_1.png" alt=""></div>
                                                <span class="f_s_14 f_w_400 color_text_1">Product 1</span>
                                            </div>

                                        </td>
                                        <td class="f_s_14 f_w_400 color_text_2">$564</td>
                                        <td class="f_s_14 f_w_400 color_text_3">#DE2548</td>
                                        <td class="f_s_14 f_w_400 color_text_4">60</td>
                                        <td class="f_s_14 f_w_400 text-end"><a href="#" class="text_color_1">Google</a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="customer d-flex align-items-center">
                                                <div class="thumb_34 mr_15 mt-0"><img class="img-fluid radius_50" src="~/TemplateContent/img/customers/pro_2.png" alt=""></div>
                                                <span class="f_s_14 f_w_400 color_text_1">Product 1</span>
                                            </div>

                                        </td>
                                        <td class="f_s_14 f_w_400 color_text_2">$564</td>
                                        <td class="f_s_14 f_w_400 color_text_3">#DE2548</td>
                                        <td class="f_s_14 f_w_400 color_text_4">60</td>
                                        <td class="f_s_14 f_w_400 text-end"><a href="#" class="text_color_2">Direct</a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="customer d-flex align-items-center">
                                                <div class="thumb_34 mr_15 mt-0"><img class="img-fluid radius_50" src="~/TemplateContent/img/customers/pro_3.png" alt=""></div>
                                                <span class="f_s_14 f_w_400 color_text_1">Product 1</span>
                                            </div>

                                        </td>
                                        <td class="f_s_14 f_w_400 color_text_2">$564</td>
                                        <td class="f_s_14 f_w_400 color_text_3">#DE2548</td>
                                        <td class="f_s_14 f_w_400 color_text_4">60</td>
                                        <td class="f_s_14 f_w_400 text-end"><a href="#" class="text_color_1">Email</a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="customer d-flex align-items-center">
                                                <div class="thumb_34 mr_15 mt-0"><img class="img-fluid radius_50" src="~/TemplateContent/img/customers/pro_4.png" alt=""></div>
                                                <span class="f_s_14 f_w_400 color_text_1">Product 1</span>
                                            </div>

                                        </td>
                                        <td class="f_s_14 f_w_400 color_text_2">$564</td>
                                        <td class="f_s_14 f_w_400 color_text_3">#DE2548</td>
                                        <td class="f_s_14 f_w_400 color_text_4">60</td>
                                        <td class="f_s_14 f_w_400 text-end"><a href="#" class="text_color_3">Refferal</a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="customer d-flex align-items-center">
                                                <div class="thumb_34 mr_15 mt-0"><img class="img-fluid radius_50" src="~/TemplateContent/img/customers/pro_5.png" alt=""></div>
                                                <span class="f_s_14 f_w_400 color_text_1">Product 1</span>
                                            </div>

                                        </td>
                                        <td class="f_s_14 f_w_400 color_text_2">$564</td>
                                        <td class="f_s_14 f_w_400 color_text_3">#DE2548</td>
                                        <td class="f_s_14 f_w_400 color_text_4">60</td>
                                        <td class="f_s_14 f_w_400 text-end"><a href="#" class="text_color_2">Direct</a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="customer d-flex align-items-center">
                                                <div class="thumb_34 mr_15 mt-0"><img class="img-fluid radius_50" src="~/TemplateContent/img/customers/pro_6.png" alt=""></div>
                                                <span class="f_s_14 f_w_400 color_text_1">Product 1</span>
                                            </div>

                                        </td>
                                        <td class="f_s_14 f_w_400 color_text_2">$564</td>
                                        <td class="f_s_14 f_w_400 color_text_3">#DE2548</td>
                                        <td class="f_s_14 f_w_400 color_text_4">60</td>
                                        <td class="f_s_14 f_w_400 text-end"><a href="#" class="text_color_3">Refferal</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="col-lg-8">
                <div class="white_card card_height_100 mb_20 ">
                    <div class="white_card_header">
                        <div class="box_header m-0">
                            <div class="main-title">
                                <h3 class="m-0">Popular Products</h3>
                            </div>
                            <div class="header_more_tool">
                                <div class="dropdown">
                                    <span class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown">
                                        <i class="ti-more-alt"></i>
                                    </span>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#"> <i class="ti-eye"></i> Action</a>
                                        <a class="dropdown-item" href="#"> <i class="ti-trash"></i> Delete</a>
                                        <a class="dropdown-item" href="#"> <i class="fas fa-edit"></i> Edit</a>
                                        <a class="dropdown-item" href="#"> <i class="ti-printer"></i> Print</a>
                                        <a class="dropdown-item" href="#"> <i class="fa fa-download"></i> Download</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="white_card_body QA_section">
                        <div class="QA_table ">
                            <!-- table-responsive -->
                            <table class="table lms_table_active2 p-0">
                                <thead>
                                    <tr>
                                        <th scope="col">Product</th>
                                        <th scope="col">Product Category</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="customer d-flex align-items-center">
                                                <div class="thumb_62 mr_15 mt-0"><img class="img-fluid radius_50" src="~/TemplateContent/img/products/empty.jpg" alt=""></div>
                                                <span class="f_s_20 f_w_400 color_text_3">DECORATION GRILLE</span>
                                            </div>

                                        </td>
                                        <td class="f_s_14 f_w_400 color_text_4">Drainage</td>
                                        <td class="f_s_14 f_w_400 color_text_3">£12.00</td>
                                        <td class="f_s_14 f_w_400 text-end"><a href="#" class="badge_btn_1">44 sold</a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="customer d-flex align-items-center">
                                                <div class="thumb_62 mr_15 mt-0"><img class="img-fluid radius_50" src="~/TemplateContent/img/products/empty.jpg" alt=""></div>
                                                <span class="f_s_20 f_w_400 color_text_3">copper coil</span>
                                            </div>

                                        </td>
                                        <td class="f_s_14 f_w_400 color_text_4">Pipework</td>
                                        <td class="f_s_14 f_w_400 color_text_3">£5.23</td>
                                        <td class="f_s_14 f_w_400 text-end"><a href="#" class="badge_btn_1">4 sold</a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="customer d-flex align-items-center">
                                                <div class="thumb_62 mr_15 mt-0"><img class="img-fluid radius_50" src="~/TemplateContent/img/products/empty.jpg" alt=""></div>
                                                <span class="f_s_20 f_w_400 color_text_3">MITSUBISHI</span>
                                            </div>

                                        </td>
                                        <td class="f_s_14 f_w_400 color_text_4">Equipment</td>
                                        <td class="f_s_14 f_w_400 color_text_3">£1,074.00</td>
                                        <td class="f_s_14 f_w_400 text-end"><a href="#" class="badge_btn_1">12 sold</a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="badge_btn_semi mt_30 ml_15">View All</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="main_content_iner ">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
          
            <div class="col-md-4">
                <div class="card mb-3 widget-chart">
                    <div class="icon-wrapper rounded-circle">
                        <div class="icon-wrapper-bg bg-primary"></div>
                        <i class="ti-settings text-primary"></i>
                    </div>
                    <div class="widget-numbers"><span>46k</span></div>
                    <div class="widget-subheading">This Month Sales</div>
                   
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3 widget-chart">
                    <div class="icon-wrapper rounded-circle">
                        <div class="icon-wrapper-bg bg-danger"></div>
                        <i class="ti-settings text-danger"></i>
                    </div>
                    <div class="widget-numbers"><span>5,82k</span></div>
                    <div class="widget-subheading">Last Month Sales</div>
                  
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3 widget-chart">
                    <div class="icon-wrapper rounded-circle">
                        <div class="icon-wrapper-bg bg-info"></div>
                        <i class="ti-settings text-info"></i>
                    </div>
                    <div class="widget-numbers"><span>62k</span></div>
                    <div class="widget-subheading">Total Expenses</div>
                
                </div>
            </div>

        </div>
    </div>
</div>